@model CartViewModel
@{
    ViewData["Title"] = "ShowCard";
}

<h1>ShowCard</h1>

<table class="table table table-striped">

    <thead class="thead-dark">

        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>

    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td>@cartItem.Item.Product.Name</td>
            <td>@cartItem.ItemQuantity</td>
            <td>@cartItem.getTotalPrice()</td>
            <td>
                <a asp-controller="Home"
                   asp-action="RemoveCart"
                   asp-route-Id="@(cartItem.Item.ID)">Remove</a>
            </td>
        </tr>
    }
</table>

<h5>Total Price: @Model.OrderTotalPrice</h5>
